.bg-light {
    background-color: #EDEDED !important;
}

:root {
   --primary-color: #FF545F; /* privatim's primary color used globally*/
   --hover-color: #e64c56;  /* hover = 10% darker */
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.custom-colored {
    color: var(--primary-color); /* Privatim's pink color used extensively*/
}

.navbar-nav.active_nav {
    text-decoration: underline!important;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

footer {
    position: fixed;
    height: 200px;
    bottom: 0;
    width: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
}

table.table-bordered{
    border:1px solid blue;
    margin-top:20px;
  }